/* .villager {
    outline: 1px solid palevioletred;
} */

li {
    list-style-type: none;
}

.home-container {
    outline: 1px solid turquoise;
    display: flex;
    flex-wrap: wrap;
}

.home-month {
    outline: 1px solid palevioletred;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}